h1 {
    font-size: 18px;
}
h2 {
    font-size: 17px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

.post-body p {
    font-size: 14px;
}

.post-body ol {
    font-size: 14px;
    margin: 8px 0;
}

.post-body ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 18px;
    font-size: 13px;
}


.posts-expand .post-button{
    display: none !important;
}

.archive .collection-title {
  display: none !important;
}

.posts-expand .post-header {
    margin-bottom: 30px;
}

.section-cbox-w {
    margin-top: 16px !important;
    background: #fff;
    padding: 0px 16px 16px !important;
}

.module-cmt-list, .module-cmt-footer, .module-hot-topic {
    background: #ffffff; 
    padding: 0px 16px !important;
}

.cmt-list-type {
    margin-top: 0px !important;
}
.module-cmt-list {
    margin-top: 16px !important;
    padding-top: 16px !important;
}

#SOHUCS #SOHU_MAIN .module-cmt-header .section-title-w .title-user-w .user-wrap-w {
    left: 61px !important;
    top: 67px !important;
}

#SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w {
    overflow: initial !important;
}
.clear-g {
    padding: 0 !important;
}

.section-newslist-w {
    padding: 0 16px 16px 16px !important;
}

.head-img-w {
    overflow: initial !important;
}

.head-img-w img {
    overflow: auto !important;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .block-cont-gw .cont-head-gw .head-img-gw img {
    overflow: auto !important;
}
#SOHUCS #SOHU_MAIN .module-cmt-footer .section-service-w, #SOHUCS #SOHU_MAIN .module-cmt-footer .section-service-w .service-wrap-w, #SOHUCS #SOHU_MAIN .module-cmt-footer .section-service-w .service-wrap-w a {
    display: none !important;
}

.module-cmt-float-bar {
    display: none !important;
}

.use-motion .site-title {
    transition: transform 0.5s ease-in-out;
}
.use-motion .site-title:hover {
    transform: scale(1.2);
}

.menu .menu-item a {
    transition: transform 0.5s ease-in-out;
}

.menu .menu-item a:hover {
    transform: scale(1.1);
}

.main .index .post-block {
    transition: transform 0.5s ease-in-out;
}

.main .index .post-block:hover {
    transform: scale(1.05);
}

.links-of-blogroll-item a {
    transition: transform 0.5s ease-in-out;
}

.links-of-blogroll-item a:hover {
     transform: scale(1.1);
}

.post-eof {
    background: #ccc;
    height: 1px;
    margin: 10px auto 52px;
    width: 8%;
}

.tag-cloud .tag {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 3px 10px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 3px;
}
.tag-cloud .tag:hover {
  background-color: #3498db;
  color: #fff;
}